name: Build and Export

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  GODOT_VERSION: 4.3
  EXPORT_NAME: NullAndVoid

jobs:
  build:
    name: Build C# Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

  export-windows:
    name: Export Windows
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'
    container:
      image: barichello/godot-ci:mono-4.3
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable.mono ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable.mono

      - name: Build C#
        run: |
          cd $GITHUB_WORKSPACE
          dotnet restore
          dotnet build --configuration Release

      - name: Windows Build
        run: |
          mkdir -v -p build/windows
          cd $GITHUB_WORKSPACE
          godot --headless --export-release "Windows Desktop" build/windows/$EXPORT_NAME.exe || true

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: build/windows

  export-linux:
    name: Export Linux
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'
    container:
      image: barichello/godot-ci:mono-4.3
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable.mono ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable.mono

      - name: Build C#
        run: |
          cd $GITHUB_WORKSPACE
          dotnet restore
          dotnet build --configuration Release

      - name: Linux Build
        run: |
          mkdir -v -p build/linux
          cd $GITHUB_WORKSPACE
          godot --headless --export-release "Linux" build/linux/$EXPORT_NAME.x86_64 || true

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: build/linux
